*{
    margin: 0;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e2d9d9;
}

/* Calculadora */
.nav-link:hover{
    color:white;
    font-weight: bold;
    text-decoration: underline;
}

.llenar {
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

#uni{
    margin-left: 35px;
}

#unf{
    margin-left: 45px;
}

.buton {
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    margin: 1rem 3rem 1rem 3rem;
    width: 150px;
}

.botones{
    display:inline-block;
    margin-top: 5px;
    margin-left: 350px;
}

.resut{
    position: absolute;
    text-align: center;
    margin-top: 500px; 
    margin-left: 500px;
}

.resul{
    position: fixed;   
    margin-top: 550px;    
   
}

select,
input {
    padding: 0.5rem;
    border-radius: 1rem;
}

/* Team */
.integrante {
    padding-top: .7rem;
    background-color: #010120;   
    border-radius: 1rem;
    padding-bottom: .7rem;
}
.figura-tope {
    padding-top: .7rem;
    width: 140px;
    background-color: rgb(1, 1, 32);
    position: relative;
    height: 140px;
    border-radius: 5rem;
    margin: 0 auto;
}
.figura {
    background: rgb(10,237,170);
    background: linear-gradient(257deg, rgba(10,237,170,1) 0%, rgba(130,7,245,1) 100%);
    width: 130px;
    height: 130px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    animation: anime 1.5s infinite; 
    animation-timing-function: linear;
    box-shadow: 0 0 5px rgb(10,237,170);
}

@keyframes anime{
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}
.figura-tope img{
    border-radius: 100%;
    height: 125px;
    width: 125px;
    top: 7.5px;
    left: 7.5px;
    background-color: rgb(1, 1, 32);
    position: absolute;
}
.nombre,
.email,
.github {
    margin: .1rem;
    color: orangered;
}
span {
    color: white;
    font-size: small;
}

.elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}


